@page "/"
@inject AlchemyState state

<section>
    <IngredientSelect Ingredients=@ingredients />
    <IngredientInfo></IngredientInfo>
    <IngredientSelect Ingredients=@ingredients />
    <IngredientInfo></IngredientInfo>
    <IngredientSelect Ingredients=@ingredients />
    <IngredientInfo></IngredientInfo>
</section>

<section>
    <AlchemistDropdown></AlchemistDropdown>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
</section>

<section>
    <potion></potion>
</section>

@functions
{
    private Ingredient[] ingredients = Array.Empty<Ingredient>();

    private string ingredientOne;

    protected override async Task OnInitAsync()
    {
        await state.LoadIngredients();

        ingredients = state.Ingredients;
    }
}