@page "/"
@inject AlchemyState state

<section>
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientOne(id)) />
    <IngredientInfo Ingredient=@state.IngredientOne />
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientTwo(id)) />
    <IngredientInfo Ingredient=@state.IngredientTwo />
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientThree(id)) />
    <IngredientInfo Ingredient=@state.IngredientThree />
</section>

<section>
    <AlchemistDropdown Change=@((rank) => state.ChangeAlchemistRank(rank)) />
    <PerkCheckbox Label="Physician" Change=@((hasPerk) => state.ChangeHasPhysician(hasPerk)) />
    <PerkCheckbox Label="Benefactor" Change=@((hasPerk) => state.ChangeHasBenefactor(hasPerk)) />
    <PerkCheckbox Label="Poisoner" Change=@((hasPerk) => state.ChangeHasPoisoner(hasPerk)) />
    <PerkCheckbox Label="Purity" Change=@((hasPerk) => state.ChangeHasPurity(hasPerk)) />
</section>

<button @onclick(async() => await state.CreatePotion())>Create Potion</button>

<section>
    <PotionInfo Potion=@state.Potion></PotionInfo>
</section>

@functions
{
    private Ingredient[] ingredients = Array.Empty<Ingredient>();

    protected override async Task OnInitAsync()
    {
        state.OnChange += StateHasChanged;

        await state.LoadIngredients();

        ingredients = state.Ingredients;
    }
}