@page "/"

<section>
    <IngredientSelect></IngredientSelect>
    <IngredientInfo></IngredientInfo>
    <IngredientSelect></IngredientSelect>
    <IngredientInfo></IngredientInfo>
    <IngredientSelect></IngredientSelect>
    <IngredientInfo></IngredientInfo>
</section>

<section>
    <AlchemistDropdown></AlchemistDropdown>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
</section>

<section>
    <potion></potion>
</section>