@page "/"
@inject AlchemyState state

<section>
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientOne(id)) />
    <IngredientInfo Ingredient=@state.IngredientOne />
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientTwo(id)) />
    <IngredientInfo Ingredient=@state.IngredientTwo></IngredientInfo>
    <IngredientSelect Ingredients=@ingredients Change=@((id) => state.ChangeIngredientThree(id)) />
    <IngredientInfo Ingredient=@state.IngredientThree></IngredientInfo>
</section>

<section>
    <AlchemistDropdown></AlchemistDropdown>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
    <PerkCheckbox></PerkCheckbox>
</section>

<button @onclick(async() => await state.CreatePotion())>Create Potion</button>

<section>
    <PotionInfo Potion=@state.Potion></PotionInfo>
</section>

@functions
{
    private Ingredient[] ingredients = Array.Empty<Ingredient>();

    protected override async Task OnInitAsync()
    {
        state.OnChange += StateHasChanged;

        await state.LoadIngredients();

        ingredients = state.Ingredients;
    }
}