<div class="alchemy-stats--alchemist">
    <span class="mdc-typography--body1">Alchemist Rank</span>
    <select onchange="@(e => Change((string)e.Value))">
        @for (var i=0; i <= 5; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

@functions
{
    public Action<string> Change { get; set; }
}