<div class="alchemy-ingredients--select">
    <span class="mdc-typography--body1">@Label</span>
    <select onchange="@(e => Change((string)e.Value))">
        <option value=""></option>
        @foreach (var ingredient in Ingredients)
        {
            <option value=@ingredient.Id label=@ingredient.Name>@ingredient.Name</option>
        }
    </select>
</div>

@functions
{
    [Parameter]
    private Ingredient[] Ingredients { get; set; }

    [Parameter]
    private string Label { get; set; }

    [Parameter]
    private Action<string> Change { get; set; }
}