@if (Ingredient != null)
{
    <div class="alchemy-ingredients--info">
        <ul>
            @foreach (var effect in Ingredient.Effects)
            {
                <li class="alchemy-effect mdc-typography--body1">@effect</li>
            }
        </ul>
    </div>
}

@functions
{
    [Parameter]
    private Ingredient Ingredient { get; set; }
}