<div class="alchemy-stats--perk">
    <span class="mdc-typography--body1">@Label</span>
    <div class="mdc-switch">
        <input type="checkbox" class="mdc-switch__native-control" onchange="@(event => Change((bool)event.Value))" />
        <div class="mdc-switch__background">
            <div class="mdc-switch__knob"></div>
        </div>
    </div>
</div>

@functions
{
    public string Label { get; set; }

    public Action<bool> Change { get; set; }
}