@if (Potion != null)
{
    <div class="alchemy-potion--name mdc-typography--headline6">@Potion.Name</div>
    <div class="alchemy-potion--cost">
        <span class="alchemy-potion--cost__img mdc-typography--body1">
            @Potion.Cost
        </span>
    </div>
    <ul class="alchemy-potion--effects">
        @foreach (var effect in Potion.Effects)
        {
            <li class="mdc-typography--body1">@effect</li>
        }
    </ul>
}

@functions
{
    [Parameter]
    private Potion Potion { get; set; }
}