@implements ILayoutComponent

<div class="mdc-typography">
    <Toolbar Title="Skyrim Tool" />
    <main class="mdc-toolbar-fixed-adjust">
        @Body
    </main>
</div>

@functions {
    public RenderFragment Body { get; set; }
}
