<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span class="mdc-toolbar__title">
                <NavLink class="link mdc-theme--text-primary-on-primary" href="/">
                    @Title
                </NavLink>
            </span>
        </div>
    </div>
</header>
@functions
{
    [Parameter]
    string Title { get; set; }
}